@font-face {
  font-family: 'Montserrat-Bold';
  src: local('Montserrat-Bold'),
    url('../../fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'HindMadurai-Light';
  src: local('HindMadurai-Light'),
    url('../../fonts/HindMadurai-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Mukta-Regular';
  src: local('Mukta-Regular'),
    url('../../fonts/Mukta-Regular.ttf') format('truetype');
}

$titles: Montserrat-Bold;
$headers: Mukta-Regular;
$paragraph: HindMadurai-Light;
