@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Montserrat:wght@700&family=Mukta&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
html {
  background-color: #697388;
  font-family: "Hind Madurai", "san-serif";
  color: whitesmoke;
}

h1,
h2 {
  font-family: "Montserrat", "san-serif";
}

h3,
h4,
.nav-bar {
  font-size: 20px;
  font-family: "Mukta", "san-serif";
}
