@import '../global/colors.scss';
@import '../global/fonts.scss';

.footer {
  font-family: $code;
  border-top: solid $complement-color;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 35px;
  padding: 35px, 0px, 2px;
  //background-color: $contrast-color;

  a {
    color: $text-color;
    text-decoration: none;
    &:hover {
      color: $nav-color;
    }
  }
  p {
    margin-right: 10px;
  }
  .blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
}
