@import '../global/colors.scss';
@import '../global/fonts.scss';

.nav-bar {
  display: flex;
  align-items: center;
  * {
    padding: 0 8px;
  }
  a:nth-child(1){
    margin-right: auto;
  }
  img {
    max-width: 50px;
  }
  a {
    color: $text-color;
    text-decoration: none;
    &:hover {
      color: $nav-color;
    }
  }
  .github-logo{
    width: 30px;
  }
  .home-btn{
    display: flex;
    align-items: center;
    &:hover{
      color: $text-color;
    }

  }
}
