@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Montserrat:wght@700&family=Mukta&display=swap%27");
.nav-bar {
  display: flex;
  align-items: center;
}
.nav-bar * {
  padding: 0 8px;
}
.nav-bar a:nth-child(1) {
  margin-right: auto;
}
.nav-bar img {
  max-width: 50px;
}
.nav-bar a {
  color: white;
  text-decoration: none;
}
.nav-bar a:hover {
  color: #000;
}
.nav-bar .github-logo {
  width: 30px;
}
.nav-bar .home-btn {
  display: flex;
  align-items: center;
}
.nav-bar .home-btn:hover {
  color: white;
}
